.submissions-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .submissions-container h1 {
    text-align: center;
  }
  
  .submissions-container .filter-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .submissions-container .filter-container label {
    font-weight: bold;
  }
  
  .submissions-container .filter-container input {
    width: 100%;
  }
  
  .submissions-container table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .submissions-container th,
  .submissions-container td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .submissions-container th {
    background-color: #f0f0f0;
    text-align: left;
  }
  
  .submissions-container tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .submissions-container hr {
    margin: 10px 0;
  }

.dashboard-link{
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    background-color: #5a74d0;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
    margin-top: 26px;
    margin-left: 252px;
}

.dashboard-link:hover {
    background-color: #0056b3;
  }
  